<%= render "shared/header" %>
<main class="main">
  <%# トップ画 %>
  <div class="top">
    <div class="card__wrapper">
      <div class="main_image">
        <%= image_tag "image6.jpg"  %>
      </div>
    </div>
  </div>
  <%# /トップ画 %>

  <%# 投稿一覧 %>
  <div class="post_wrap">
    <h2 class="title">
      釣果情報一覧
    </h2>
    <ul class='post-lists'>
    </ul>
  </div>
  <%# /投稿一覧部分 %>

  <%# 桧原湖周辺情報 %>
  <div class="item_wrap">
    <h2 class="title">
      アイテム紹介
    </h2>
    <ul class='item-lists'>
    </ul>
  </div>
  <%# /投稿一覧部分 %>

  <%# 投稿一覧 %>
  <div class="faq_wrap">
    <h2 class="title">
      よくある質問
    </h2>
    <ul class='faq-lists'>
    </ul>
  </div>
  <%# /投稿一覧部分 %>

  <%# 投稿一覧 %>
  <div class="map_wrap">
    <h2 class="title">
      桧原湖マップ
    </h2>
    <div class="map">
    </div>
  </div>
  <%# /投稿一覧部分 %>


</main>
<%= render "shared/footer" %>