/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
  width: 100%;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 10px 0;

}
.inner {
  width: 90%;
  margin: auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__btn{
  display: inline-block;
  margin-right: 8px;
  padding: 0.2em 0.2em;
  font-size: 18px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.greeting {
  font-family: 'M+ Type-1 (general-j) Regular';
  font-size: 24px;
  font-weight: 500;
  padding: 7px 10px;
}
.greeting:hover{
  color: #fff;
  background-color: #87CEFA;

  border-radius: 5px;
  transition: 0.7s ;
}

.greeting_small{
  padding: 3px 5px;
}
.greeting_small:hover{
  color: #fff;
  background: #00BFFF;
  opacity: 0.5;
  border-radius: 5px;
  transition: 0.4s ;
}

/* メニュー表 */
#global_nav {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 60px;
  z-index: 1;
  background-color: rgba(255, 255, 255,0.8);
  box-shadow:0 2px 3px 0;
}

.gnav_cnt {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: 100px;
  margin: 0 auto;
  padding: 10px 20px;
}

.gnav_menu {
  width: 100%;
}
.gnav_list {
  display: flex;
  align-items: center;
}

.item {
  width: 20%;

  position: relative;
}

.item:before {
  content: '';
  width: 2px;
  height: 70px;
  margin-top: -8px;
  background-color:#F5DEB3;
  position: absolute;
}

.item:last-child:after {
  content: '';
  width: 2px;
  height: 70px;
  margin-top: -8px;
  background-color: #F5DEB3;
  position: absolute;
  top: 0;
  right: 0;
}

.gnav_title {
  font-size: 20px;
  font-weight: 500;
  font-family: "Noto Serif Japanese", serif, san-serif;
  color: #B22222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 54px;
  text-align: center;
}

.gnav_title:hover{
  color: #A9A9A9;
  transition: 0.7s ease;
}

/* フォーム周り */
.registration-main {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
}

.form-wrap {
  width: 50%;
}

.form-header {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  text-align: center;

}

.form-header-text {
  font-size: 20px;
 
}

.form-group {
  width: 100%;
  margin-bottom: 3vh;

}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.indispensable {
  background: #ea352d;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
}

.input-default {
  width: 100%;
  margin: 2px 0px 20px ;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.redio_btn{
  margin-right: 10px;
  font-size: 15px;
  display: inline-block;
}



.form__btn{
  width: 100%;
  height: 50px;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #32cd32;
  border: 1px #32cd32 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;

}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}

@media (max-width: 700px) {
  .header {
    display: none;
  }
  .post-lists {
    display: grid;
    gap: 5px;
    grid-template-columns:repeat(auto-fit, minmax(180px, 1fr)) ;
    margin:auto;
    padding: 20px 5px;
  }
  .title{
    font-size: 18px;
  }

  .post_wrap {
    width: 100%;
  }
  .post-info{
    font-size: 14px;
  } 
  .message_txt{
    font-size: 14px;
  }
  
  .iine__button{
    font-size: 14px;
  }

}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }
  .globalMenuSp {
    display: none;
  }
  .small_header{
    display: none;
  }
}

@media (max-width: 370px) {
  .greeting_small{
    font-size: 13px;
    top: 16px;
  }
  

}

