/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;

}
.inner {
  width: 90%;

}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.logo {
  width: 100px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* メニュー表 */
#global_nav {
  width: 100%;
  position: absolute;
  top: 71px;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.gnav_cnt {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: 100px;
  margin: 0 auto;
  padding: 10px 20px;
}

.gnav_menu {
  flex: 1;
  width: auto;
}
.gnav_list {
  display: flex;
  align-items: center;
}

.item {
  flex: 1;
  display: block;
  max-width: 179px;
  font-size: 20px;
  position: relative;
}

.item:before {
  content: '';
  display: block;
  width: 2px;
  height: 54px;
  margin-top: -27px;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 0;
}

.item:last-child:after {
  content: '';
  display: block;
  width: 2px;
  height: 54px;
  margin-top: -27px;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  right: 0;
}

.gnav_title {
  font-family: "Noto Serif Japanese", serif, san-serif;
  color: #6b4d1e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 54px;
  text-align: center;
}


/* フォーム周り */
.registration-main {
 width: 100%;
 min-width: 450px;
 height: 100%;
 display: flex;
 justify-content: center;
}

.form-wrap {
  width: 50%;
}

.form-header {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #32cd32;
}

.form-header-text {
  font-size: 20px;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.indispensable {
  background: #ea352d;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
}

.input-default {
  width: 100%;
  margin: 2px 0px 20px ;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.redio_btn{
  margin-right: 10px;
  font-size: 15px;
  display: inline-block;
}


.actions{
  margin: 40px;
  text-align: center;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #32cd32;
  border: 1px #32cd32 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}

/* メイン */
.title {
  font-family: "Noto Serif Japanese", serif, san-serif;
  font-weight: 700;
  font-size: 2.333rem;
  color: #6b4d1e;
  text-align: center;
  margin-bottom: 5vh;
  position: relative;
}

.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
/* 釣果情報 */
/* 釣果情報 */

/* アイテム紹介 */
/* アイテム紹介 */

/* よくある質問 */
/* よくある質問 */

/* 桧原湖マップ */
/* 桧原湖マップ */

/* フッター */
.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 140px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}