.user_page{
  width: 95%;
  margin: 10px auto;
}

.user__wrapper_header{
  margin: 10px 0;
}

.detail-table-fishing-max{
  text-align: center;
  width: 100%;
  max-width: 650px;
  font-size: 20px;
}
.user_details{
  font-size: 20px;
  color: chocolate;
}
.users-box{
  width: 100%;
  
}

.user-lists {
 display: flex;
 justify-content: flex-start;
 flex-wrap: wrap;
 
}

.user-list{
  width: 33%;
  margin: 2px;
  position: relative;
  overflow: hidden;
}
.user-post-img{
  width: 100%;
  transition-duration: 0.5s;
}

.user-post-img:hover{
  transform: scale(1.08);
  transition-duration: 0.5s;
}

.user-lists span{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255,0.8);
  padding:0 5px;
  font-size: 20px;
}

@media (max-width: 700px) {
.page-heading{
  font-size: 20px;
  margin-top: 10px;
}





.user-lists span{
    font-size: 16px;
}
.user-list{
  width: 48%;
}
.user_page{
  width: 99%;

}
}