.user_page{
  width: 90%;
  margin: 10px auto;
}

.user__wrapper_header{
  margin: 10px 0;
}

.page-heading{

}

.nav__btn_min{
  font-size: 40px;
}

.skill_a{
  color: #00DD00;
}
.skill_b{
  color: #0000CD;
}
.skill_c{
  color: #DAA520;
}

.detail-table-fishing-max{
  margin-top: 20px;
  font-size: 16px;
}
.user_details{
  font-size: 20px;
  margin-bottom: 20px;
}
.result_a{
  color:#D2691E;
}
.result_b{
  color: #FF1493;
}
.result_c{
  color: #20B2AA;
}
.result_d{
  color: #4169E1;
}
.result_e{
  color: #228B22;
}
.users-box{
  width: 100%;
  
}

.user-lists {
 display: flex;
 justify-content: flex-start;
 flex-wrap: wrap;
 
}

.user-list{
  width: 33%;
  margin: 2px;
  position: relative;
  overflow: hidden;
}
.user-post-img{
  width: 100%;
  transition-duration: 0.5s;
}

.user-post-img:hover{
  transform: scale(1.08);
  transition-duration: 0.5s;
}

.user-lists span{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255,0.8);
  padding:0 5px;
  font-size: 20px;
}

@media (max-width: 700px) {

  .user_page{
    width: 98%;
    margin: auto;
  }

  .user__wrapper_header{
    margin: 10px 0;
  }
  .page-heading{
  font-size: 20px;
  }
.user-lists span{
    font-size: 16px;
}
.user-list{
  width: 48%;
}
.nav__btn{
  font-size: 14px
}

}

@media (min-width: 700px) {
.page-heading{
  font-size: 30px;    
}
.detail-table-fishing-max{
  font-size: 25px;
}
.user_details{
  font-size: 30px;
}


}