/* メイン */
.top{
  margin-bottom: 50px;
}

.title {
  font-family: "Noto Serif Japanese", serif, san-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #6b4d1e;
  text-align: center;
  margin-bottom: 5vh;
  position: relative;
  padding-top: 20px;
}


/* 釣果情報 */
.post_wrap {
  width: 80%;
  margin: auto;

}
.search{
  text-align: center;
}

.list:hover{
  background-color: beige;
}

.post-lists {
  display: grid;
  gap: 5px;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)) ;
  margin:auto;
  padding: 20px 5px;
}

.post-info{
  width: 100%;
  margin-bottom: 30px;

}



.message_txt{
  color: black;
  font-size: 14px;
  display: inline-block;

}

.iine__button{
  color: black;
  font-size: 14px;
  display: inline-block;
  padding: 0 18px;
}

.sukima{
  margin: 0 10px;
}


.info_header{
  display: flex;
}
/* 釣果情報 */


/* アイテム紹介 */
.item_wrap{
  width: 100%;
  height: 500px;
  background-color:#ccffcc;
}
/* アイテム紹介 */


/* よくある質問 */
.faq_wrap{
  width: 100%;
  height: 500px;
  background: -moz-linear-gradient(#ffb03c, #ff708d);
  background: -webkit-linear-gradient(#ffb03c, #ff708d);
  background: linear-gradient(to right, #ffb03c, #ff708d);
}
/* よくある質問 */

/* 桧原湖マップ */
.map_wrap{
  width: 100%;
  height: 1000px;
  background-color:#ffffcc;
}
/* 桧原湖マップ */

/* ページトップへ戻るボタン */
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 50px;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* フッター */
.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}