.post-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}


.post-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.post-main-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 5px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
  border-radius: 4px;
}


/* /共通 */


/* 商品名と商品説明 */
.new-items {
  padding: 2vh 0;
}


.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}
.post-text {
  width: 100%;
  height: 5vh;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-bottom: 3vh ;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}


/* /商品の詳細など */

.redio_btn{
  margin-right: 10px;
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
}


/* 下部ボタン */
.post-btn-contents{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.sell-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 18px;
  margin-bottom: 4vh;
  border-radius: 4px;
  
}
.sell-btn:hover{
  cursor: pointer;
}
  

.back-btn {
  max-width: 100px;
  padding: 0.2em 0.2em;
  font-size: 18px;
  border-radius: 3px;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  margin-bottom: 10px;
}

@media (min-width: 700px) {
.sell-btn {
  width: 40%;
  text-align: center;
}
  }