.post-box{
  width: 90%;
  margin: 10px auto;
}
.box-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.name{
  background-color: peachpuff;
  margin: 10px 0;
  border-radius: 5px;
  padding: 4px;

}

.item-img-content{
  width: 100%;
}

.info_header-show{
  font-size: 16px;
  display: flex;
  margin-bottom: 20px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
  max-width: 650px;
  border-collapse: collapse;
  border-spacing: 0;
}

.detail-post {
  width: 30%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 16px;
  text-align: center;
}

.detail-value {
  width: 70%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 16px;
}





.message-box{

  max-width: 650px;
}

.message_form{
  width: 100%;
  display: flex;
  margin-top: 70px;
  margin-bottom: 20px;
}

.message_form_box{
  width: 75%;
  margin-right: 40px;
}
.message_form_btn{
  width: 25%;
}

#messages{
  
}


.message_text{
  padding: 0.2em 0.5em;
    margin: 1.5em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}
.message_name{
  color:darkblue;
  cursor: pointer;
  font-weight: bold;
}
.message_text_sukima{
  margin: 0 10px;
}

.message_text p {
  margin: 0; 
  padding: 0;
}
